name: ci

on:
  - push

env:
  CARGO_TERM_COLOR: always
  # Disable incremental compilation for faster from-scratch builds
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v6
      - name: Install Rust toolchain
        run: rustup update stable && rustup default stable
      - run: rustc --version
      - uses: Swatinem/rust-cache@v2
      - name: Build and test
        run: |
          cargo check --locked
          cargo test --locked
          cargo build --release
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: startsWith(github.ref, 'refs/tags/')
        with:
          username: "kitov"
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and publish docker image
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cp target/release/vpn-killswitch .
          docker build -t kitov/vpn-killswitch:${{ github.ref_name }} .
          docker push kitov/vpn-killswitch:${{ github.ref_name }}
